@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

/* ================
     Default
================ */
.container{
    max-width: 1280px;
    margin: 0px auto;
    overflow: hidden;
}
.row{
    display: flex;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    margin-top: 10px;
}
.text_center{
    text-align: center;
}
.main_btn{
    background-color: rgb(216, 88, 130);
    padding: 13px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


/* ================
     Hero area
================ */
.section_1_bg{
    background-color: rgb(255, 236, 239);
}
.col_md_6{
    display: flex;
    align-items: center;
}
.hero_text{
    margin: 0 10px;
}
.hero_text h1{
    margin-bottom: 10px;
}

.hero_img img {
    width: 500px;
}

.col .title{
    text-align: center;
    margin-top: 50px;
}
.row .col{
    display: flex;
    justify-content: center;
    width: 100%;
}


/* ================
     Card area
================ */
.card_section{
    width: 100%;
}
.card_section .col_md_3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card_img img{
    position: absolute;
    width: 80%;
    left: 15%;
    bottom: 0;
}
.card_img{
    position: relative;
    background-color: pink;
    border-radius: 200px 200px 0 0;
    width: 250px;
    height: 350px;
    margin: 30px 30px;
}
.card{
    text-align: center;
    
}
.green{
    background-color: aquamarine;
}
.gray{
    background-color: gray;
}
.card_des{
    font-weight: bold;
    text-decoration: underline 2px;
    margin-bottom: 50px;
}

/* ==========
   sell area
============= */
.mid_hero_img img{
    width: 100%;
}
.mid_hero{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


.image_card{
    display: flex;
    justify-content: space-evenly;
    margin: 50px ;
}
.img_card img{
    width: 80%;
    margin: 0 10px;
}


/* ===============
   Subscribe area
==================*/
.row .row_flex{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px  0;
}
.subscribe{
    width: 65%;
    text-align: center;
    background-image: url(../image/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.subscripbe_btn .main_btn{
    padding: 10px 20px;
}
.input{
    width: 40%;
    padding: 8px;
}


/* ===============
   Discount area
==================*/
.discount_area{
    width: 65%;
    text-align: center;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
.col_2 .title{
    color: #fff;
}

.footer_bg{
    background-color: black;
    padding: 50px 0;
    color: #fff;
}
.footer_color{
    color: rgb(250, 92, 118);
}